@import "color";
input, textarea, .el-message-box__message{
  font-size: 12px!important;
  font-family: 宋体!important;
}
.el-scrollbar__wrap{
  overflow: auto!important;
}
.layout-div{
  position: relative;
  height: 100%;
  width: 100%;
}

.main-header{
  background-color: #2a303e;
}
.icon{
  font-size: 10px;
  cursor: pointer;
  color: #8c93a6;
  &:hover{
    color: #4c84ff;
  }
}
.icon.icon-guanbi{
  font-size: 11px;
  color: #19233c;
}
.icon-small-button{
  font-size: 11px;
  cursor: pointer;
  color: #8c93a6;
  &:hover{
    color: #4c84ff;
  }
}
.iconbutton{
  font-size: 18px;
  cursor: pointer;
  color: #8c93a6;
  &:hover{
    color: #4c84ff;
  }
}
/*el弹出层和下拉选择项css*/
.el-popper{
  margin: 0 !important;
}
.el-dropdown-link{
  font-size: 12px!important;font-family: 宋体!important;
}
.el-dropdown-menu{
  margin: 0 !important;
  .el-dropdown-menu__item{
    font-size: 12px!important;
    font-family: 宋体!important;
  }
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover{
  background-color: $color6!important;
  color: $color5!important;
}
.el-select-dropdown__item{
  font-size: 12px!important;
  font-family: 宋体!important;
  height: 32px!important;
  line-height: 32px!important;
}
.el-select-dropdown__item:focus, .el-select-dropdown__item:not(.is-disabled):hover{
  background-color: $color6!important;
  color: $color5!important;
}
/*el弹出层和下拉选择项css*/

/*el的tab选择项css*/
.el-tabs__item{
  font-size: 12px!important;
  color: #19233c!important;
}
.el-tabs__item:hover{
  color: #4c84ff!important;
}
.el-tabs__item.is-active{
  color: #4c84ff!important;
}
/*el的tab选择项css*/

/* element dialog的样式修改统一 */

.el-dialog__header{
  padding: 0px!important;
  height: 36px!important;
  background-color: #f5f6fa!important;
  span{
    line-height: 36px!important;
    font-size: 12px!important;
    padding-left: 10px;
  }
  .el-dialog__headerbtn{
    top: 13px!important;
    right: 8px!important;
    font-size: 10px!important;
  }
}
.el-dialog__body{
  padding: 20px 10px 0px !important;
  .no-label{
    &:last-child{
      margin-bottom: 0px!important;
    }
    .el-form-item__label{
      display: none!important;
    }
  }
}
.el-dialog__footer{
  padding: 0px 10px!important;
  height: 68px;
  line-height: 68px;
}
/* element dialog的样式修改统一 */

/* el-button 样式修改*/
.zdy-button{
  padding: 0px 13px!important;
  height: 28px!important;
  line-height: 27px!important;
  border-radius: 14px!important;
  box-shadow: none!important;
  min-width: 64px!important;
  font-size: 12px!important;
}
.el-button.dialog-button{
  @extend .zdy-button
}
.qu_xiao{
  font-family: 宋体!important;
  color: #8c93a6!important;
  background-color: #f5f6fa!important;
  &:hover{
    background-color: #f5f6fa!important;
    border-color: #dcdfe6!important;
    color: #4c84ff!important;
  }
  &:active{
    border-color: #dcdfe6!important;
    color: #4c84ff!important;
  }
}
.el-button.dialog-button.qu_xiao{
  @extend .qu_xiao
}
.bao_cun{
  border: none!important;
  font-family: 宋体!important;
  color: #fff!important;
  background-color: #4c84ff!important;
  &:hover{
    background-color: #4c84ff!important;
    border-color: #4c84ff!important;
  }
  &:active{
    border-color: #4c84ff!important;
  }
  i{
    font-size: 11px;
    color: #fff!important;
  }
}
.el-button.dialog-button.bao_cun{
 @extend .bao_cun
}
.el-button.el-button--text{
  font-family: 宋体!important;
  font-size: 12px!important;
  color: #4c84ff;
}
/* el-button 样式修改*/

.el-checkbox, .el-checkbox__label{
  font-family: 宋体!important;
  font-size: 12px!important;
}

.el-checkbox .el-checkbox__inner{
  width: 12px!important;
  height: 12px!important;
  &::after{
    left: 3px!important;
    top: 0px!important;
  }
}
/* 地图浮层数样式*/
.map-float-body{
  z-index: 10;
  position: relative;
  background-color: #fff;
  border: 1px solid #edeef0;
  box-shadow: 0 1px 1px rgba(25,35,62,0.35);
  border-radius: 2px;
}
.amap-logo, .amap-copyright{
  display: none!important;
}

/* 数据列表样式*/
.data-list{
}
.data-list-seach{
}
.data-list-cont{
}
.data-list-seach-form{
}
// element dialog的样式修改统一 基础上附加数据dialog的样式
.data-dialog .el-dialog__body{
  padding: 0px!important;
}
.el-date-editor{
  .el-input__inner{
    padding-left: 15px!important;
  }
  span.el-input__prefix{
    right: 5px!important;
    left: auto!important;
    i.el-input__icon{line-height: 30px!important;}
  }
  span.el-input__suffix{
    right: 25px!important;
    left: auto!important;
    i.el-input__icon{line-height: 30px!important;}
  }
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  color: #8c93a6!important;
  background-color: #f5f6fa!important;
  border-color: #edeef0!important;
  -webkit-box-shadow: -1px 0 0 0 #f5f6fa!important;
  box-shadow: -1px 0 0 0 #f5f6fa!important;
}
/*圆角的input*/
.el-input__inner:focus{
  border-color: #4c84ff!important;
}
.input-yuan {
  .el-input__inner{
    height: 28px!important;
    line-height: 24px!important;
    border-radius: 14px!important;
    border: 1px solid #edeef0!important;
  }
  .el-input__suffix i{
    font-size: 12px!important;
    line-height: 28px!important;
  }
}
//主题
.themeA{
  .main-header{
    background-color: #4050FF;
  }
}
